<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
    </style>
</head>
<body>
    enter <input type="text">
    <input onclick="POST();" type="submit">
    
    <div id="d1">
    
    </div>

    <script>
        function fun(){
               x = document.getElementById("d1");
               y = document.getElementById("input_text");
               alert(x.innerHTML);
        }
        function GET(){
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "http://127.0.0.1:5000/test",false)
            xhr.send();
            var output = xhr.responseText;
            document.getElementById("d1").innerHTML = output;
        }

        function POST(){
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://127.0.0.1:5000/test",false)
            xhr.send();
            var output = xhr.responseText;
            document.getElementById("d1").innerHTML = output;
        }
        

    </script>
</body>
</html>

